body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4b186a),
    to(#a74970)
  );
  background-image: -webkit-linear-gradient(top, #4b186a, #a74970);
  background-image: -moz-linear-gradient(top, #4b186a, #a74970);
  background-image: linear-gradient(to bottom, #4b186a, #a74970);
  /* background-color: #ddd; */
}

.markerStyle {
  background-image: url("/assets/img/map-marker.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* cursor: pointer; */
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

/* .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
} */

/* .row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
} */
/* .row > [class*="col-"] {
  display: flex;
  flex-direction: column;
} */
