body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#868686),
    to(#e7e7e7)
  );
  background-image: -webkit-linear-gradient(top, #868686, #e7e7e7);
  background-image: -moz-linear-gradient(top, #868686, #e7e7e7);
  background-image: linear-gradient(to bottom, #24707c, #7fd3e0);
  /* background-color: #ddd; */
}
